.page {
  min-width: 1280px;
  .left-nav-container {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    overflow: auto;
    box-shadow: 0px 0px 8px 0px rgba(90,139,255,0.12);
    background-color: #fff;
    width: 214px;
    z-index: 1000;
  }
  .sub-page-container {
    margin-left: 214px;
  }
  .top-nav-container {
    position: fixed;
    width: 100%;
    z-index: 1001;
    box-shadow: 0px 0px 8px 0px rgba(90, 139, 255, 0.12);
    background-color: #fff;
  }
  .content-container {
    padding-top: 60px;
  }
}

