@charset "UTF-8";

$gray:            #373A44;
$grayer:          #50596F;
$grayest:         #96A2BE;
$gray-light:      #7C89A7;
$gray-lighter:    #E4E9F4;
$gray-lightest:   #F2F6FF;


$gray3:           #333;

$blue:            #5A8BFF;
$red:             #F63440;
$red-darker:      #EB6161;
$orange:          #FF7D66;
$orange-light:    #FA9C49;
$green:           #67E296;
$green-light:     #54CB19;
$white:           #fff;


$radius4:           4px;
