.class-manage__popover{
  position: absolute;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  background: #fff;
  border-radius:4px;
  border:1px solid rgba(90,139,255,1);
  box-shadow:0 0 8px 0 rgba(90,139,255,0.2);
  .class-manage__popover--arrow,
  .class-manage__popover--arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .class-manage__popover--arrow{
    border-width: 10px;
    border-top-width: 0;
    border-bottom-color: rgba(90,139,255,1);
    top: -10px;
    &:after{
      content: " ";
      top: -6px;
      margin-left: -8px;
      border-top-width: 0;
      border-bottom-color: rgba(242,247,255,1);
      border-width: 8px;
    }
  }
}
