$primary-color: #5A8BFF;
$orange-color: #FF9631;

.check-detail{
  background-color: #fff;

  .color-orange {
    color: $orange-color;
  }
  .check-data{
    padding: 0 32px;

    .check-filter{
      padding: 32px 0;

      .btn-group{
        float: right;

        button{
          margin-left: 16px;
        }
      }
    }

    .total {
      margin-bottom: 15px;
    }
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    border-color: $primary-color;
    background-color: $primary-color;
  }
  .opa-btn{
    font-size: 14px;
    margin: 0 10px;
    color: $primary-color;
  }
  .status-span{
    font-size: 14px;
    margin: 0 10px;
  }
  .green{
    color: #67E296;
  }
  .gray{
    color: #C3C8D8;
  }
}
.ant-confirm-body .ant-confirm-title{
  font-size:24px;
  color:rgba(55,58,68,1);
  line-height:30px;
}
.ant-confirm-body .ant-confirm-content{
  margin-left: 12px;
  margin-top: 26px;
}
.confirm-content{
  font-size:14px;
  color:rgba(150,162,190,1);
  line-height:24px;
  .highlight{
    color: #5A8BFF
  }
}
