$primary-color: #5A8BFF;
$orange-color: #FF9631;
.class-detail {
  .color-orange {
    color: $orange-color;
  }
  .color-primary {
    color: $primary-color;
  }
  .detail-container {
    background-color: #fff;
    .part-top {
      position: relative;
      .switch-class {
        color: $primary-color;
        margin-left: 14px;
        cursor: pointer;
        i {
          font-size: 12px;
          margin-left: 3px;
        }
      }
      .btns-of-class {
        position: absolute;
        right: 32px;
        top: 17px;
        button {
          margin-left: 16px;
        }
        .my-duty-icon {
          font-size: 12px;
          margin-left: 3px;
        }
      }
    }
    .part-list {
      padding: 0 32px;
      .total {
        margin-bottom: 15px;
      }
      .part-filter {
        padding: 32px 0;
        .search-input-block {
          margin-right: 40px;
        }
        .sort-label {
          margin-right: 14px;
          color: #7C89A7;
        }
      }
      .student-list {
        .student-item {
          width: 257px;
          box-shadow: 0px 2px 8px 0px rgba(105,124,239,0.2);
          border-radius: 6px;
          padding: 24px;
          position: relative;
          margin: 0 24px 24px 0;
          display: inline-block;
          &:hover {
            box-shadow: 0px 2px 8px 0px rgba(105, 124, 239, 0.8);
            .avatar {
              .avatar-block {
                .img {
                  width: 120%;
                }
              }
            }
          }
          .delete-student-block {
            position: absolute;
            right: 24px;
            top: 36px;
            width: 144px;
            &:hover {
              .student-action {
                display: block;
              }
            }
            .student-action {
              display: none;
              .class-detail-custom-popover {
                box-shadow: 0px 2px 8px 0px rgba(105,124,239,0.2);
              }
            }
          }
          .more-action {
            position: absolute;
            right: 0;
            top: -24px;
            cursor: pointer;
            color: $primary-color;
            font-size: 18px;
          }
          .avatar {
            .avatar-block {
              width: 72px;
              height: 72px;
              overflow: hidden;
              margin: 0 auto;
              border-radius: 50%;
              .img {
                width: 100%;
                transition: width 2s;
              }
            }
            .name {
              color: #373A44;
              line-height: 1;
              margin: 16px 0 20px 0;
              text-align: center;
              width: 100%;
              overflow: hidden;
              height: 28px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .others-info {
            font-size: 12px;
            color: #50596F;
            .info-item {
              height: 14px;
              line-height: 14px;
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
              .label, .value {
                display: inline-block;
                width: 50%;
              }
              .value {
                text-align: right;
              }
              .unit {
                width: 24px;
                margin-left: 5px;
                display: inline-block;
              }
            }
          }
        }
      }
      .pagination {
        padding: 8px 0 32px 0;
        text-align: right;
        .ant-pagination {
          display: inline-block;
        }
      }
    }
  }
}

.quit-duty-modal {
  .quit-duty-warning {
    .quit-word {
      color: #5A8BFF;
      padding: 0 2px;
    }
  }
}
.add-student-modal {
  .ant-modal-close {
    display: none;
  }
  .ant-modal-footer {
    text-align: center;
    padding-top: 15px;
  }
  .ant-modal-footer button + button {
    margin-left: 24px;
  }
  .ant-modal-body {
    padding-bottom: 0;
    overflow: hidden;
  }
  .part-left {
    float: left;
    width: 332px;
    height: 400px;
    border-right: 1px solid #E6EAF5;
    .title {
      line-height: 1;
      color: #C3C8D8;
      padding: 32px 0;
    }
    .class-student-container {
      height: 281px;
      overflow: auto;
      .class-list {
        .class {
          .menu-area {
            position: relative;
            .class-item {
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height: 40px;
              padding: 0 0 0 30px;
              position: relative;
              line-height: 40px;
              width: 70%;
              cursor: pointer;
              user-select: none;
              .arrow-icon-of-class {
                font-size: 12px;
                color: #939DB7;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
            .all-checked {
              position: absolute;
              right: 32px;
              top: 0;
              height: 40px;
              line-height: 40px;
              cursor: pointer;
              user-select: none;
            }
          }
        }
      }
      .student-list {
        .student-item {
          margin-right: 16px;
          height: 64px;
          line-height: 64px;
          position: relative;
          padding: 0 16px 0 72px;
          border-radius: 2px;
          &:hover {
            background-color: #F2F7FF;
          }
          .name {
            display: inline-block;
            width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .avatar {
            width: 48px;
            height: 48px;
            overflow: hidden;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            left: 16px;
            top: 8px;
            img {
              width: 100%;
            }
          }
          .checkbox {
            position: absolute;
            right: 16px;
          }
        }
      }
    }
  }
  .part-right {
    float: right;
    width: 185px;
    .count {
      color: #96A2BE;
      padding: 9px 0 32px 0;
      line-height: 1;
    }
    .selected-list {
      height: 345px;
      overflow: auto;
      .selected-student-item {
        height: 40px;
        position: relative;
        padding: 8px;
        border-radius: 2px;
        &:hover {
          background-color: #F2F7FF;
          .del-icon {
            display: inline-block;
          }
        }
        .avatar {
          width: 24px;
          height: 24px;
          overflow: hidden;
          border-radius: 50%;
          display: inline-block;
          font-size: 0;
          img {
            width: 100%;
          }
        }
        .name {
          display: inline-block;
          width: 100px;
          margin: 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 24px;
          white-space: nowrap;
        }
        .del-icon {
          position: absolute;
          display: none;
          height: 24px;
          right: 10px;
          top: 0;
          color: #C3C8D8;
          top: 8px;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  .student-search-empty {
    color: #C3C8D8;
  }
}

.duty-list-popover {
  z-index: 999 !important;
  font-size: 14px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
  .ant-popover-inner {
    position: relative;
    top: 9px;
  }
  .duty-list {
    min-width: 160px;
    .button-area {
      cursor: default;
      &:hover {
        color: #50596F;
      }
    }
    .duty-line {
      padding-right: 40px;
      height: 34px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      &:hover {
        color: #50596F;
        .quit {
          color: $primary-color;
        }
      }
      .quit {
        position: absolute;
        right: 16px;
        cursor: pointer;
      }
    }
  }
}
