.class-myclass-wrapper {
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(90, 139, 255, 0.12);
  border-radius: 2px;

  .joinClass {
    position: absolute;
    top: 17px;
    right: 32px;
  }

  .fr {
    float: right;
  }

  .class-myclass-body {
    background-color: #fff;
    padding: 10px 32px;

    ul {
      overflow: hidden;

      .class-myclass-item {
        width: 100%;
        overflow: hidden;
        position: relative;

        .class-myclass-leftBox {
          float: left;
          margin-left: 48px;
          margin-right: 32px;
          text-align: center;

          .class-myclass-pic {
            width: 64px;
            height: 64px;
            border: none;
            margin-top: 30px;
            vertical-align: middle;
          }

        }

        .class-myclass-content {
          margin-left: 144px;
          border-bottom: 2px solid #E4E9F4;

          .class-myclass-name {
            font-size: 16px;
            margin-top: 30px;
            line-height: 16px;
            margin-bottom: 24px;
            color: #333333;
          }

          .class-myclass-classTeacher {
            font-size: 14px;
            line-height: 14px;
            color: #96A2BE;
            margin-bottom: 33px;
          }

          .class-myclass-classStatus {
            position: absolute;
            top: 50px;
            right: 0;
            font-size: 16px;

            &.joined {
              color: #C3C8D8;
            }

            &.rejected {
              color: #FF7D66;
            }

            &.applying {
              color: #5A8BFF;
            }

          }

        }

        &:last-child {
          .class-myclass-content {
            border-bottom: none;
          }

        }

      }

    }

  }

}
