.eui-icon-demo {
  .icon-all {
    .demo-li {
      width: 50%;
      display: inline-block;
      line-height: 40px;
      .iconfont {
        font-size: 30px;
        width: 60px;
        text-align: center;
        display: inline-block;
      }
      .icon-name {
        margin-left: 8px;
        font-size: 16px;
        vertical-align: top;
      }
    }
  }
}
