.class-management-wrapper {
  .right-btns-wrapper {
    position: absolute;
    top: 15px;
    right: 32px;

    > button {
      margin-left: 16px;
    }

    .iconfont {
      display: inline-block;
      font-size: 24px;
      color: #A0BCFF;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .class-management-body {
    background-color: #fff;
    padding: 24px 32px;

    .search-conds-wrapper {
      .cond-wrapper {
        display: inline-block;
        margin-left: 40px;

        .label {
          color: #7C89A7;
          font-size: 14px;
          margin-right: 16px;
        }
      }
    }

    .data-wrapper {
      margin-top: 28px;

      .total-count {
        font-size: 14px;
        color: #7C89A7;
        margin-bottom: 16px;

        .number {
          color: #FF9631;
          margin: 0 5px;
        }
      }

      .operations-wrapper {
        position: relative;

        > .operation-btn {
          display: inline-block;
          color: #5A8BFF;
          font-size: 14px;

          &.disabled {
            color: #E6EAF5;
            cursor: not-allowed;
          }
        }

        > .vertical-line {
          display: inline-block;
          width: 1px;
          height: 14px;
          background-color: #DBE1EF;
          margin: 0 10px;
          vertical-align: middle;
        }
      }
    }
  }

  .body-empty-prompt {
    background-color: #fff;
    padding: 250px 32px;
    text-align: center;

    .prompt-content-wrapper {
      position: relative;
      display: inline-block;

      .prompt-content {
        display: inline-block;
        color: #C3C8D8;
        font-size: 16px;
  
        a {
          color: #5A8BFF;
          margin: 0 4px;
        }
      }

      .prompt-arrow-pic {
        position: absolute;
        bottom: 6px;
        right: -120px;
      }
    }
  }
}

.prompt-box {
  width: 334px;

  .prompt-tips-list {
    font-size: 12px;

    > .tip {
      line-height: 1.8;

      .tip-name {
        color: #373A44;
        font-weight: bold;

        &:before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #000;
          border-radius: 50%;
          vertical-align: middle;
          margin: -2px 5px 0 0;
        }
      }

      .tip-content {
        color: #7C89A7;
      }
    }
  }
}